export("PRIMsrc.news", 
       "cv.sbh",
	  "sbh",
       "plot_profile",
       "plot_surface",
       "plot_boxtraj",
       "plot_boxtrace",
       "plot_boxkm")

import("parallel", "survival", "Hmisc", "MASS")
import("graphics", "grDevices", "stats")

S3method("summary","PRSP")
S3method("predict","PRSP")
S3method("print","PRSP")
S3method("plot","PRSP")
